* {
  font-family: Arial, Helvetica, sans-serif;
}
:root {
  --border-color: #ddd;
  --white: white;
  --black: black;
  --green: green;
  --teal: teal;
  --btn-2: rgb(145, 56, 40);
  --paragraph: #555;
  --body: white;
}
.dark-theme {
  --border-color: #dddddd57;
  --white: #011627;
  --black: white;
  --green: teal;
  --teal: teal;
  --btn-2: rgb(145, 56, 40);
  --paragraph: #f3f3f3;
}


body {
  height: calc(100vh - 20px);
  display: flex;
  justify-content: center;
  position: relative;
  background: var(--white);
  overflow-x: hidden;
}
.box {
  max-width: 1000px;
  display: inline-block;
  border: 1px solid var(--border-color);
  background: var(--white);
  padding: 50px 30px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 3px;
}

.box .input_group h1 {
  text-align: left;
  display: block;
  margin-bottom: 10px !important;
  color: var(--black);
}
.box .input_group p {
  font-size: 15px;
  text-align: left;
  color: var(--paragraph);
  line-height: 30px;
}
.box .input_group textarea {
  padding: 10px;
  border-radius: 3px;
  border: 1px solid var(--border-color);
  background-color: rgba(163, 201, 223, 0.082);
  color: var(--black);
  width: 100%;
  outline: unset;
  box-sizing: border-box;
  overflow: hidden;
  resize: none;
  height: 150px;
  transition: 0.4s;
  position: relative;
}
textarea:focus {
  border-color: var(--green);
}
.output {
  border-radius: 3px;
  border: 1px solid var(--border-color);
  background-color: rgba(163, 201, 223, 0.096);
  color: var(--black);

  padding: 10px;
  text-align-last: left;
  height: 250px;
}
/* dd */
div.container {
  margin-top: 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  border: 1px solid var(--border-color);
  padding: 10px;
}

span {
  text-align: left;
  font-weight: 600;
  margin: 8px 0 -4px 0;
  margin: 0 10px;
  color: var(--black);
}
span:first-child {
  margin-left: 0;
}
i {
  font-weight: normal;
  font-style: normal;
}
/* ---------- */
.right button {
  border: unset;
  background-color: var(--black);
  color: var(--white);
  padding: 5px 15px;
  margin: 0 4px;
  border-radius: 2px;
  cursor: pointer;
  transition: 0.4s;
}
.right button:hover {
  opacity: 0.8;
}

.footer {
  text-align: left;
  display: flex;
}
.footer button {
  border: unset;
  background-color: var(--black);
  color: var(--white);
  padding: 13px 40px;
  margin: 0 4px;
  border-radius: 2px;
  cursor: pointer;
  transition: 0.4s;
  width: 33.33%;
}
.footer button:hover {
  opacity: 0.8;
}

.footer button.reload {
  background: var(--teal) !important;
  color: #fff;
}
.footer button.clear {
  background: var(--btn-2);
  color:#fff;
}

@media only screen and (max-width: 930px) {
  body {
    height: unset;
    overflow-x: hidden;
  }
  .box {
    max-width: 100%;
    box-sizing: border-box;
    padding: 20px;
  }
  .container {
    flex-direction: column;
    justify-content: flex-start;
  }
  .cs {
    display: none;
  }
  .footer {
    flex-direction: column;
  }
  .footer button {
    width: 100%;
    margin: 3px 0;
  }
}

/* theme switcher  */

.theme-switcher {
  font-size: 35px;
  padding: 3px 20px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border: unset;
  position: absolute;
  top: 300px;
  left: 0;
  height: 55px;
  line-height: 45px;
  transition: 0.4s;
  z-index: 999;
}
.theme-switcher:hover {
  background-color: var(--green);
  color: var(--white);
  cursor: pointer;
}